:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --fg: #0d9cc4;
  --bgLinear: #0d9cc425;
  --text: hsla(0, 0%, 100%, 0.88);
  --wht: white;
  --linkGrey: rgb(155, 153, 153);
  --hover: rgb(224, 61, 88); /*e03d58*/
}

.blog{
  background-color: var(--fg);
  width: max-content;padding: 1em;
  margin: 10px 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: sticky;
  top: 2em;
}

html {
  background-color: var(--bg);
  color: var(--wht);

  font-family: "Merriweather", "Georgia", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
}
.name{
  display: flex;
  flex-direction: column;
}
.header {

  width: max-content;
  /* background: url("https://cdn.pixabay.com/photo/2019/08/11/09/15/cyber-4398478__340.jpg") */
}
.header h1 {
  font-size: 3em;
  background-image: linear-gradient(180deg, white, var(--fg));
  
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header b{
  /* color: var(--fg); */
}
.real, .virtual {
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}
.real{
  
}
.virtual{
  transform-origin: center center;
  transform: rotateX(180deg);
}

/* --------------------------Navigation Bar-------------------- */

.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
  border-bottom: solid 1px var(--fg);
  margin-bottom: 1em;
}

.nav-item button:hover {
  color: var(--hover);
}

.nav-item button {
  background-color: transparent;
  margin: 0px 10px;
  color: var(--h1);
  padding: 0.4em;
  border: none;
  width: max-content;
  font-weight: bolder;
  font-size: x-large;
  color: var(--fg);
}

/* ------------------Footer------------------------------- */

.footer-wrapper{
  border-top: solid 1px var(--fg);
  padding: 1em;
  background-image: linear-gradient(180deg, var(--bgLinear) 1%,transparent);
}

.footer-wrapper h4 {
  font-size: 1.2em;
  text-align: center;
}
.contacts{
  width: max-content;
}
.social-icons {
  max-width: 30px;
  min-width: 30px;
  display: block;

  transition: 1s;
}
.sign{
  font-weight: bolder;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
}
.social-icons:hover{
  transform: scale(1.2);
}
.direct a {
  color: var(--linkGrey);
  text-align: right;
  padding: 1.0em;
  width: max-content;
  text-decoration: none;
  font-weight: bolder;

  transition: 1.5s;
}

.direct a:hover {
  color: var(--hover);
  transform: scale(0.95);
}
.direct a img {
  vertical-align: middle;
  width: 20px;
  padding-left: 0.5em;
}

@media (orientation: landscape){
  .footer{
    display: flex;
  }
  .footer > div {
    width: 50%;
    padding-top: 1em;
  }
  .tech, .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .direct{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .contacts{
    margin: 0.3em;
  }
}

@media (orientation: portrait){
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer > div {
    width: 100%;
  }
  .tech, .social-media{
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contacts{
    margin: 0.3em;
  }

  .direct{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}